<!DOCTYPE html>
<html>
  <head>
    <title>Animal Tracker</title>
  </head>
  <body>
    <h1>Welcome Animal Lovers</h1>
    <p>This application is for veternarians and owners to help communicate and about the animals we love.</p>
    
    <p><strong>If you are a new Owner or Vet, Please <a href="/signup">Sign Up</a> here! </strong></p>
    <p><strong>If you are already signed up, please <a href="/login">login</a> here!</strong></p>
    <p>This web site is for veternarians and owners to be able to communicate about pets information. To keep track of excercise routines and feeding habits.</p>

  </body>
</html>
