<!DOCTYPE html>
<html>
  <head>
    <title>Animal Tracker</title>
  </head>
  <body>
    <h1>Welcome Animal Lovers</h1>
    <p>This web site is for veternarians and owners to be able to communicate about pets information. To keep track of excercise routines and feeding habits.</p>
    <p>Here you can keep track of what owner has vet and how many pets each owner owns. The age, breed, size of the pet. More features coming soon... Intentions are to be able to keep track of medications exercise and training schedules for larger animals
    <p><strong>If you are a new Owner or Vet, Please <a href="/signup">Sign Up</a> here! </strong></p>
    <p><strong>If you are already signed up, please <a href="/login">login</a> here!</strong></p>
    
    <button><a href="/pets/:id/edit">Edit Pets</a></button>
    
    

  </body>
</html>
