<!DOCTYPE html>
<html>
  <head>
    <title>Animal Tracker</title>
  </head>
  <body>
    <br />
    <% if logged_in? %>
      <button><a href="/logout">Log Out</a></button>
      <button><a href="/users/index">Edit pet</a></button>
      <button><a href="/pets/new">Add Pet</a></button>
    <% else !logged_in? %>
      <button><a href="/login">Log In</a></button>
      <button><a href="/signup">Sign Up!</a></button>
    <% end %>
    
    <h1>Welcome Animal Lovers</h1>
    <p>This web site is for veternarians and owners to be able to communicate about pets information. To keep track of excercise routines and feeding habits.</p>
    
    <p>Here you can keep track of what owner has vet and how many pets each owner owns. The age, breed, size of the pet. More features coming soon... 
    Intentions are to be able to keep track of medications exercise and training schedules for larger animals. Please checkback later to see what new features have been added.
    Soon there will be a suggestions section for you to add suggested features that you see useful as a vet or as an owner. Thank you and enjoy the snuggles from the fuzzy ones.
    </p>
    
    <%# <button><a href="/pets/:id/edit">Edit Pets</a></button> %>
  </body>
</html>
