<!DOCTYPE html>
<html>
  <head>
    <title>Animal Tracker</title>
  </head>
  <body>
    <h1>Welcome Animal Lovers</h1>
    <p>This application is for veternarians and owners to help communicate and about the animals we love.</p>
    <h4>If you are the vet please <%= %> here<h4>

    <h4>If you are the owner, please login here</h4>
    

  </body>
</html>
