<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <h1>Login here!</h1>

    <div class="form_login">
      <form method="POST" action="/login">
        <label for="username">Username:</label>
        <input type="text" name="email">
         <br />
       <label for="password">Password:</label>
        <input type="password" name="password">
        <br />
         <input type="submit" value="Login!">
      </form>
    </div>
  </body>
</html>