<% if @user && @user.errors %>
    <% @user.errors.full_messages.each do | error | %>
      <p><%= error %></p>
    <% end %>
  <% end %>

<h1>Sign up here!</h1>

<form method="POST" action="/signup">
  <label>Are you a Vet or Owner?</label>
    <select name="vet_owner"> <%#creates a dropdown to choose between owner and vet %>
      <option value="is_vet">Vet</option>
      <option value="is_owner">Owner</option>
    </select>
    <input type="text" name="name" placeholder="Name" />
    <br />
    <input type="text" name="username" placeholder="Username" />
    <br />
    <input type="text" name="email" placeholder="Email"/>
    <br />
    <input type="password" name="password" placeholder="Password" />
    <input type="submit" value="Sign Up Here!">
</form>
