<h1>Here are all of your pets info</h1>
<ul>
<% @pets.each do |pet| %>
  <li><a href="/pets/<%= pet.id %>"> <% pet.name %></a></li>
  <li><a href="/pets/<%= pet.id %>"> <% pet.age %></a><li>
  <% end %>

</ul>