<h2>What pet will you be adding to the family today?</h2>

<form class="new_pet" method="POST" action="/pets">
     <%# binding.pry %> 
  
    <select name="vet_id">
    <% if vet_id = true %>
      <% @vets.each do | vet | %>
        <option value="<% vet.id %>"><%= vet.username %></option> <%# regardless of which user signs in it displays Moonlight%>
      <% end %> <%# why did we add a dropdown for the different users in the create new pet fields?%>
    <% else %>

    <% end %>
    </select>
    <br />
    <br />
    <input type="text" name="pet[:name]" id="pet_name" class="new-pet-text-input" placeholder="Pet Name">
    <br />
    <br />
    <input type="text" name="pet[:age]" id="pet_age" class="new-pet-text-input" placeholder="Pet Age">
    <br />
    <br />
    <input type="text" name="pet[:size]" id="pet_size" class="new-pet-text-input" placeholder="Pet Size">
    <br />
    <br />
    <input type="text" name="pet[:breed]" id="pet_breed" class="new-pet-text-input" placeholder="Pet Breed">
    <br />
    <br />
    <input type="submit" value="Add Pet">
</form>

  